Part 1: Python Basics
Question 1: Print

Write a program that:

Prints your name

Prints todayâ€™s date

Each one should be printed on a separate line

In [ ]:
print("Ahmed Saad")
print("06-02-2026")

Ahmed Saad
06-02-2026

In [ ]:
print("Ahmed","06-02-2026",sep='\n')

Ahmed
06-02-2026

Question 2: Variables

Write a program that:

Defines two variables first_name and last_name

Prints the full name in one line with a space between them

In [ ]:
first_name="Ahmed"
last_name="Saad"
print(first_name+" "+last_name)

Ahmed Saad

Question 3: Data Types

Write a program that:

Defines a variable age with an integer value

Defines a variable gpa with a float value

Prints the data type of each variable using type()

In [ ]:
age=21
gpa=3.51
print(type(age))
print(type(gpa))

<class 'int'>
<class 'float'>

Write a program that:

Asks the user to enter two numbers

Prints:

The sum

The difference

The product

The division result

In [ ]:
first_number=int(input("Enter first Number"))
second_number=int(input("Enter Second Number"))
print("Addition : ",first_number+second_number)
print("Subtraction : ",first_number-second_number)
print("Multiplication : ",first_number*second_number)
print("Division : ",first_number/second_number)

Enter first Number20
Enter Second Number10
Addition :  30
Subtraction :  10
Multiplication :  200
Division :  2.0

In [ ]:
a=int(input())
print(type(a))

10
<class 'int'>

Question 5: Type Conversion

Write a program that:

Asks the user to enter two numbers

Adds them before converting them to integers

Adds them after converting them to integers

Prints both results

In [ ]:
first_number=input("Enter first Number")
second_number=input("Enter Second Number")
print(first_number+second_number)

Enter first Number10
Enter Second Number20
1020

In [ ]:
first_number=int(input("Enter first Number"))
second_number=int(input("Enter Second Number"))
print(first_number+second_number)

Enter first Number10
Enter Second Number20
30

In [ ]:
print("10"+"5")

105

In [ ]:
print(10+5)

15

In [ ]:
print(int("10")+int("5"))

15

In [ ]:
a="Ahmed"
b=" Saad"
c=a+b
print(c)

Ahmed Saad

Part 2: Strings Basics
Question 8: String Concatenation

Write a program that:

Defines two string variables

Concatenates them into one sentence

Prints the result

In [ ]:
s1="Hello"
s2="world"
print(s1+" "+s2)

Hello world

Question 9: String Indexing

Write a program that:

Defines a string with a country name

Prints:

The first character

The last character

In [ ]:
country="Egypt"
print(country[0])
print(country[-1])

E
t

Question 10: String Length

Write a program that:

Asks the user to enter their name

Prints the number of characters in the name

In [ ]:
name=input()
print(len(name))

Ahmed Saad
10

In [ ]:
s="Hello World"
print(len(s))

11

Part 3: String Slicing
Question 11: String Slicing

Write a program that:

Defines the string "Communication"

Prints the first 5 characters

In [ ]:
s="Ahmed Saad"
print(s[0:5])

Ahmed

Question 12: Reverse String

Write a program that:

Asks the user to enter a word

Prints the word reversed

In [ ]:
#Ahmed
#demhA
s=input()
print(s[::-1])

Ahmed
demhA

In [ ]:
s="Ahmed Saad Karam"
s[0:5]

'Ahmed'

In [ ]:
s="ABCDEF"
s[0:4]

'ABCD'

In [ ]:
s="ABCDEF"
s[0:4:1]

'ABCD'

In [ ]:
s="ABCDEF"
s[0:4:2]

'AC'

In [ ]:
s="23456789"
s[0:9:2]

'2468'

In [ ]:
s="ABCDEF"
s[::-1]

'FEDCBA'

In [ ]:
s="ABCDEF"
s[::-2]

'FDB'

In [ ]:
a=10
print(a)

10

Question 13: Replace Using Slicing

Write a program that:

Defines a string

Replaces one character with another using slicing

In [ ]:
# s="Ahmed Kariam Ahmed"
# s[0]="B"
# s
# Error Because string is immutable

TypeError: 'str' object does not support item assignment

In [ ]:
s="Ahmed Saad Karam"
new_string="B"+s[1:]
new_string

'Bhmed Saad Karam'

In [ ]:
s="Ahmed Saad Karam"
s[:]

'Ahmed Saad Karam'

Part 4: String Functions
Question 14: Upper and Lower

Write a program that:

Asks the user to enter a word

Prints the word in uppercase

Prints the word in lowercase

In [ ]:
a=input()
print(a.upper())
print(a.lower())

A
A
a

In [ ]:
a="ahmed go to school"
print(a.title())

Ahmed Go To School

In [ ]:
a="ahmed go to school"
print(a.capitalize())

Ahmed go to school

In [ ]:
a="ahmed go to school"
print(a.upper())

AHMED GO TO SCHOOL

In [ ]:
a="ahmed go to school"
print(a.startswith('a'))

True

In [ ]:
a="ahmed go to school"
print(a.startswith('b'))

False

In [ ]:
a="ahmed go to school"
print(a.endswith('l'))

True

Question 15: Split

Write a program that:

Defines a sentence

Splits it into a list of words

Prints the list

In [ ]:
s="I Love AI and Data Science"
l=s.split()
l

['I', 'Love', 'AI', 'and', 'Data', 'Science']

In [ ]:
s="I,Love,AI,and&Data&Science"
l=s.split('&')
l

['I,Love,AI,and', 'Data', 'Science']

In [ ]:
s=input().split('*')
print(s)

Ahmed*Saad
['Ahmed', 'Saad']

Question 16: Replace

Write a program that:

Defines a sentence with a repeated word

Replaces the word with another word only once

In [ ]:
s="I AI and Data Science AI and AI and"
print(s[0:5]+s[4:].replace("AI","Amr",1))

I AI  and Data Science Amr and AI and

In [ ]:
s="I AI and Data Science AI and AI and"
print(s.replace("AI","Amr",1))

I Amr and Data Science AI and AI and

Question 17: Join

Write a program that:

Defines a list of words

Joins them into a single sentence using join()

In [ ]:
l=['I', 'Love', 'AI', 'and', 'Data', 'Science']
s=" ".join(l)
s

'I Love AI and Data Science'

Question 3

Write a program that:

Defines a sentence

Capitalizes the first character of the sentence

Prints the result

In [ ]:
s="i AI and Data Science AI and AI and"
result=s.capitalize()
print(result)

I ai and data science ai and ai and

Part 2: split()
Question 4

Write a program that:

Defines the string "Hello world,AUC,AI"

Splits the string using , as a separator

Prints the result

In [ ]:
s="Hello world,AUC,AI"
l=s.split(',')
l

['Hello world', 'AUC', 'AI']

Question 5

Write a program that:

Defines the string "Hello world egypt"

Splits the string using the default separator

Prints the list of words

In [ ]:
s="Hello world egypt"
l=s.split()
l

['Hello', 'world', 'egypt']

Question 6

Write a program that:

Asks the user to enter a sentence

Splits the sentence into words

Prints the number of words

In [ ]:
l=input().split('#')
print(l)
print(len(l))

Ahmed#Saad
['Ahmed', 'Saad']
2

In [ ]:
s="Ahmed Saad Karam"
len(s)

16

In [ ]:
l=["Ahmed","ALI","Hossam"]
len(l)

3

Part 3: String Indexing
Question 9

Write a program that:

Defines the string "abcdef"

Prints:

The first character

The third character

The fourth character

In [ ]:
s="abcdef"
print(s[0])
print(s[2])
print(s[3])

a
c
d

Question 10

Write a program that:

Defines a string

Prints the characters at index 0, 2, and 3 concatenated together

In [ ]:
s="Ahmed"
print(s[0]+s[2]+s[3])

Ame

Question 11

Write a program that:

Asks the user to enter a word

Prints the first and last characters of the word

In [ ]:
s=input()
print(s[0]+s[-1])

Ahmed Saad
Ad

Challenge Question

Write a program that:

Asks the user to enter a sentence

Capitalizes the first character

Splits the sentence into words

In [ ]:
s=input()
captailize_s=s.capitalize()
l=s.split('*')
print(captailize_s)
print(l)

Ahmed Saad
Ahmed saad
['Ahmed Saad']

Challenge Question

Write a program that:

Asks the user to enter a sentence

Prints:

The number of characters

The number of words

The sentence in uppercase

The sentence reversed

In [ ]:
Sentence=input("Enter Sentence : ")

Enter Sentence : Ahmed Saad Karam

In [ ]:
print("Length of Sentence is : ",len(Sentence))

Length of Sentence is :  17

In [ ]:
words=Sentence.split()
print("Number of Words is : ",len(words))

Number of Words is :  3

In [ ]:
print("Sentence UpperCased : ",Sentence.upper())
print("Sentence Titled : ",Sentence.title())

Sentence UpperCased :  AHMED SAAD KARAM
Sentence Titled :  Ahmed Saad Karam

In [ ]:
print("Reversed Words : ", words[::-1])
print("Reversed Sentence : ", " ".join(words[::-1]))
print("Reversed Sentence and Characters : ", Sentence[::-1])

Reversed Words :  ['Karam', 'Saad', 'Ahmed']
Reversed Sentence :  Karam Saad Ahmed
Reversed Sentence and Characters :   maraK daaS demhA